* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --disabled-grid: 7px solid rgba(0, 0, 0, 0.25);
    --grid-border: 7px solid black;
    --black-transparent: rgba(0, 0, 0, 0.25);
    --padding: 10px;
    --selected-stats: orchid;
}

html {
    font-size: 12px;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: mediumvioletred;
    background-image: linear-gradient(300deg, darkmagenta, deeppink, orange, gold);
    background-repeat: no-repeat;
}

.invisible {
    display: none;
}

.flex {
    display: flex;
}

h1 {
    font-size: 4rem;
    color: yellow;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

#start-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
}

#start-content {
    height: 60%;
    background-color: black;
    border-radius: 10px;
    padding: var(--padding);
}

form, input, select {
    font-size: 2rem;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    color: white;
}

legend {
    font-size: 2rem;
    text-align: center;
    color: orchid;
}

.block, .form-buttons {
    margin-top: 50px;
}

label {
    display: inline-block;
    width: 100px;
}

input, select {
    width: 300px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#submit-button, #cancel {
    font-size: 2rem;
    background-color: orchid;
    color: white;
    align-self: center;
}

#game-grid {
    width:350px;
    height: 350px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.square {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-hover {
    background-color: rgba(153, 50, 204, 0.25);
    cursor: pointer;
}

.not-right {
    border-right:  var(--disabled-grid);
}

.not-bottom {
    border-bottom: var(--disabled-grid);
}

.active-not-right {
    border-right: var(--grid-border);
}

.active-not-bottom {
    border-bottom: var(--grid-border);
}

.selected, .selected:hover {
    background-color: rgba(153, 50, 204, 0.50);
}

button {
    font-weight: bold;
    border-radius: 10px;
    padding: var(--padding);
    border: none;
}

button:hover {
    color: white;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white, 0 1px 10px white, 1px 0 10px white;
}

#altering-buttons {
    height: 40px;
    display: flex;
    gap: 50px;
}

.alter-play-button {
    font-size: 1.25rem;
    color: darkorchid;
    background-color: rgb(255, 129, 251);
}

#game-controller {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--padding);
    background-color: var(--black-transparent);
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-shrink {
    width: 50px;
}

#start-button {
    font-size: 2rem;
    color: yellow;
    background-image: linear-gradient(300deg, darkmagenta, deeppink, orange, gold);
}

#outcome {
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px 10px yellow;
}

.stats {
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 0 var(--padding);
}

#one-stats {
    margin-right: 15px;
}

#two-stats {
    margin-left: 15px;
}

.in-play {
    background-color: var(--selected-stats);
    box-shadow: 1px 1px 20px var(--selected-stats), -1px -1px 20px var(--selected-stats);
}

.stats p {
    font-size: 3rem;
    margin-bottom: var(--padding);
}

.stats span, .stats p {
    color: yellow;
    font-weight: normal;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    padding: var(--padding);
    background-color: var(--black-transparent);
}

a {
    color: pink;
}

